.bg_1{
	background-color: #16253B;
}.bg_2{
	background-color: #2D4D7A;
}.bg_3{
	background-color: #4576BA;
}.bg_4{
	background-color: #528DE0;
}.bg_5{
	background-color: #5C9EFA;
}
body{
	font-family: “ヒラギノ角ゴ Pro W3”, “Hiragino Kaku Gothic Pro”,Osaka, “メイリオ”, Meiryo, “ＭＳ Ｐゴシック”, “MS PGothic”, “맑은고딕”, “malgun gothic”,  “돋움”, dotum, sans-serif;
	background-color: #5C9EFA;
	color:rgba(255,255,255,1);
}
select{
	cursor: pointer;
}
.em_nav{
	border: 0px dotted #000;
	background-color: #2D4D7A;
	color:rgba(255,255,255,1);
}
.toollist li{
	line-height: 2.5em;
}
.dropdown-menu, .dropdown-item{
	border: 0px dotted #000;
	background-color: #2D4D7A;
	color:rgba(255,255,255,1);	
}
.page_title{
	padding-right: 60px !important;
}

.pat1 {
	background: repeating-linear-gradient(45deg, #ddd, #ddd 10px, #eee 0, #eee 20px);
}
.pat1:hover {
	background: repeating-linear-gradient(45deg, #aaa, #aaa 10px, #ddd 0, #ddd 20px);
}
.pat2 {
	background-color: #eee;
	background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-position: 0 0, 10px 10px;
	background-size: 20px 20px;
}
.pat2:hover {
	background-color: #ddd;
	background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
}

.over_text1 {
	background-color: #000;
	padding: 10px 0px;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0.60;
	height: 50px;
	overflow: hidden;
}
.over_text1 .toollist_desc{
	visibility:hidden;
	font-size:.8rem;
	text-align: left;
	overflow: auto;
	height: 90%;
}
.over_text1:hover {
	transform: translate(0, 0);
	opacity: 0.87;
	top: 0; left: 0;
	height: 100%;
	transition:all 0.1s linear;
}
.over_text1:hover .toollist_desc{
	visibility:visible;
}


.share-group{
	margin-top: -10px;
	margin-left: -15px;
	height: 28px;
}
.share-group .dropdown-toggle{
	margin-top: 0px;
}
.share-group .dropdown-menu{
	background-color: #4576b9;
	border: 1px solid #ddd;
	border-radius: 0;
}
.share-group .dropdown-menu{
	padding:0 0 5px 0;
	box-shadow: 2px 2px 2px gray;
}
.share-group .dropdown-item{
		padding:0px 10px 0px 10px;
}
.share-group .dropdown-menu, .share-group .dropdown-item{
	text-align: left;
	background-color:#4576b9;
	color: #fff;	
}

.div_footer{
	border: 0px dotted #000;
	background-color: #2D4D7A;
	color: rgba(255,255,255,1);
	padding:10px;
	text-align: center;	
}
.div_custom{
	border: 0px dotted #000;
	margin: 0 auto;
}
.div_wide{
	border: 0px dotted #000;

	display: inline-block;
	width: 100%;
	padding: 10px;
}
.div_half{
	border: 0px dotted #000;

	display: inline-block;
	padding: 10px;
}
.div_75{
	border: 0px dotted #000;

	display: inline-block;
	padding: 10px;
}
.div_60{
	border: 0px dotted #000;

	display: inline-block;
	padding: 10px;
}
.div_40{
	border: 0px dotted #000;

	display: inline-block;
	padding: 10px;
}
.div_25{
	border: 0px dotted #000;

	display: inline-block;
	padding: 10px;
}
@media (max-width:991px) {
	.div_half, .div_75, .div_60, .div_40, .div_25, .div_custom{
	width: 100%;
	}
}
@media (min-width:992px){
	.div_custom{
	width: 1000px;
	}
	.div_half{
	width: 50%;
	min-height: 400px;
	}
	.div_75{
	width: 75%;
	min-height: 400px;
	}
	.div_60{
	width: 60%;
	min-height: 400px;
	}
	.div_40{
	width: 40%;
	min-height: 400px;
	}
	.div_25{
	width: 25%;
	min-height: 400px;
	}
}