<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
					
					<link rel="stylesheet" href="assets/css/main.css" />
					
					<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
					
					<script src="assets/js/jquery.min.js"></script>
					
					<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
					
					
					
					<link href="css/filetree.css" rel="stylesheet">
					<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
					<link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
					
					
					
					
					
					<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
					<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
  </head>

  <body>
					
    <div id="main2" class="wrapper-masthead">
      <div class="container">
       <header class="masthead clearfix">
         <!-- <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a> -->

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
			<a href="{{ site.baseurl }}">Home</a>
			<a href="#main2">Top</a>
			<a href="#work">Work</a>
			<a href="#portfolio">Portfolio</a>
			<a href="#helpful">Helful Things</a>
			<a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
	
	
	
	
	
	
	
	
	
  </body>
  <!-- Scripts -->
		<script src="js/filetree.js"></script>
		<script src="js/instafeed.js"></script>
		<script src="js/instafeed.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

</html>
