---
layout: default
---
  <nav id="nav">
	<ul class="container">
										<!-- Nav -->
							<nav id="nav">
							<ul class="container">
							<li><a href="#top">Top</a></li>
							<li><a href="about">About</a></li>
							<li><a href="#work">Work</a></li>
							<li><a href="#portfolio">Portfolio</a></li>
							<li><a href="#helpful">Helful Things</a></li>
							</ul>
							</nav>

			  </ul>
			</nav>
<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
</article>
